@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body {
    background-color: #ffffff;
}
#logo {
    font-weight: bold;
    word-spacing: 3px;
}
ul {
    list-style-type: none;
}

li {
    float: right;
    margin: 0 20px;
    font-weight: 700;
    transition: .3s;
}
li:hover {
    color: rgb(179, 201, 238);
}

nav {
    background: #333;
    padding: 20px;
    color: white;
    text-align: center;
    overflow: hidden;
    text-transform: uppercase;
}
nav a {
    float: left;
    text-decoration: none;
}
a:visited {
    color: white;
}
a {
    color: white;
}
header {
    text-align: center;
    color: white;
    background-image: url(bg1.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
p, h2 {
    text-align: center;
    padding: 20px;
}
h2 {
    text-transform: uppercase;
}
#profile-img {
    width: 250px;
    clip-path: circle();
}
#serv {
    text-align: center;
}
#servicos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}
.box {
    background-color: rgb(179, 201, 238);
    padding: 30px;
}
.box img {
    margin-bottom: 15px;
}
#fotos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#fotos img {
    width: 450px;
}
footer {
    background-color: #333;
    padding: 10px;
    color: white;
    font-weight: 700;
}
.contato {
    text-align: center;
    background-color: rgb(179, 201, 238);

}
.box-icons {
    display: inline;
    
}
.box-icons img {
    width: 50px;
    margin: 50px 10px;
}