@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body {
    background-color: #ffffff;
    scroll-behavior: smooth;
}
nav .logo {
    float: left;
}
nav {
    background-color: #333;
    text-transform: uppercase;
    padding: 15px;
    overflow: hidden;
}
nav ul {
    list-style: none;
}
nav li {
    float: right;
    margin-left: 30px;
}
a {
    text-decoration: none;
}
a:hover {
    background-color: #111;
}
a:visited {
    color: white;
}
header {
    text-align: center;
    color: white;
    background-image: url(bg.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
p, h2 {
    text-align: center;
    padding-top: 30px;
}
#sobre-mim p {
    margin: auto;
    width: 85%;
    font-size: 22px;
}
#sobre-mim ul {
    list-style-type: disc;
}

h2 {
    text-transform: uppercase;
}
#profile-img {
    width: 250px;
    clip-path: circle();
    margin: 30px;
}
header {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding: 60px;
}
header h1 {
    padding-top: 50px;
}
header h3 {
    margin-top: 6px;
}
#projetos {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}
.box {
    background-color: rgb(179, 201, 238);
    padding: 30px;
}
.box img {
    margin-bottom: 15px;
}
#fotos {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}
#fotos img {
    width: 450px;
}
footer {
    background-color: #333;
    padding: 10px;
    color: white;
    font-weight: 700;
}
.contato {
    text-align: center;
    background-color: rgb(179, 201, 238);
}
#sobre-mim {
    margin-top: 30px;
}
#sobre-mim .box-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px 30px;
}
#sobre-mim img {
    width: 50px;
}
.box-icons img {
    width: 35px;
    margin: 0 5px;
    margin-top: -50px;
    transition: .3s;
}
.box-icons img:hover {
    opacity: .8;
}
.btn {
    text-align: center;
    width: 320px;
    background-color: #333;
    margin: auto;
    text-transform: uppercase;
    padding: 15px;
    transition: .3s;
}
.btn:hover {
    opacity: .8;
}
.btn a {
    background-color: #333;
}


